In [6]:
import pandas as pd

# Extract: Forbes

In [19]:
# The path to our CSV file to extract 2017 Forbes_Global_2000 company list
Forbes_2017_csv = "Resources/Forbes_Global_2000_2017.csv"
Forbes_2017_df = pd.read_csv(Forbes_2017_csv)
Forbes_2017_df.head()

,Company,Market Value,Revenue,Profits,Assets,Rank,Sector,Industry,Continent,Country,Headquarters,State,CEO,Forbes Webpage,Profits as % of Assets,Profits as % of Revenue
0,ICBC,229.805,151.381,41.9837,3473.238,1,Financials,Major Banks,Asia,China,China,NaN,Jian Jiang,http://www.forbes.com/companies/icbc/,0.012088,0.277338
1,China Construction Bank,200.458,134.242,34.9814,3016.578,2,Financials,Major Banks,Asia,China,China,NaN,You Guo,http://www.forbes.com/companies/china-construc...,0.011596,0.260585
2,Berkshire Hathaway,409.908,222.935,24.0740,620.854,3,Financials,Investment Services,North America,United States,Nebraska,Nebraska,Warren Edward Buffett,http://www.forbes.com/companies/berkshire-hath...,0.038776,0.107987
3,JPMorgan Chase,306.616,102.494,24.2310,2512.986,4,Financials,Major Banks,North America,United States,New York,New York,Jamie Dimon,http://www.forbes.com/companies/jpmorgan-chase/,0.009642,0.236414
4,Wells Fargo,274.385,97.573,21.9380,1943.443,5,Financials,Major Banks,North America,United States,California,California,Timothy J. Sloan,http://www.forbes.com/companies/wells-fargo/,0.011288,0.224837

In [20]:
# The path to our CSV file to extract 2018 Forbes_Global_2000 company list
Forbes_2018_csv = "Resources/Forbes_Global_2000_2018.csv"
Forbes_2018_df = pd.read_csv(Forbes_2018_csv)
Forbes_2018_df.head()

,Company,Market Value,Revenue,Profits,Assets,Rank,Sector,Industry,Continent,Country,Headquarters,State,CEO,Forbes Webpage,Profits as % of Assets,Profits as % of Revenue,Unnamed: 16
0,ICBC,311.014,165.338,43.6694,4210.927,1.0,Financials,Major Banks,Asia,China,China,NaN,Hui Yi,http://www.forbes.com/companies/icbc/,0.010370496,0.264122,NaN
1,China Construction Bank,261.166,143.202,37.2031,3631.583,2.0,Financials,Major Banks,Asia,China,China,NaN,Guo Tian,http://www.forbes.com/companies/china-construc...,0.01024432,0.259795,NaN
2,JPMorgan Chase,387.668,118.180,26.4960,2609.785,3.0,Financials,Major Banks,North America,United States,New York,New York,Jamie Dimon,http://www.forbes.com/companies/jpmorgan-chase/,0.01015256,0.224200,NaN
3,Berkshire Hathaway,491.888,235.165,39.7420,702.651,4.0,Financials,Investment Services,North America,United States,Nebraska,Nebraska,Warren Buffett,http://www.forbes.com/companies/berkshire-hath...,0.056560085,0.168996,NaN
4,Agricultural Bank of China,184.125,129.345,29.6387,3439.314,5.0,Financials,Regional Banks,Asia,China,China,NaN,Mu Zhou,http://www.forbes.com/companies/agricultural-b...,0.00861762,0.229145,NaN

In [21]:
# The path to our CSV file to extract 2019 Forbes_Global_2000 company list
Forbes_2019_csv = "Resources/Forbes_Global_2000_2019.csv"
Forbes_2019_df = pd.read_csv(Forbes_2019_csv)
Forbes_2019_df.head()

,Company,Market Value,Revenue,Profits,Assets,Rank,Sector,Industry,Continent,Country,Headquarters,State,CEO,Forbes Webpage,Profits as % of Assets,Profits as % of Revenue
0,ICBC,305.057,175.874,45.223,4034.482,1,Financials,Major Banks,Asia,China,China,NaN,Shu Gu,http://www.forbes.com/companies/icbc/,0.011209,0.257133
1,JPMorgan Chase,368.502,132.912,32.738,2737.188,2,Financials,Major Banks,North America,United States,New York,New York,Jamie Dimon,http://www.forbes.com/companies/jpmorgan-chase/,0.011960,0.246313
2,China Construction Bank,224.988,150.313,38.841,3382.422,3,Financials,Major Banks,Asia,China,China,NaN,Wang Zuji,http://www.forbes.com/companies/china-construc...,0.011483,0.258401
3,Agricultural Bank of China,197.045,137.456,30.894,3293.105,4,Financials,Regional Banks,Asia,China,China,NaN,Huan Zhao,http://www.forbes.com/companies/agricultural-b...,0.009381,0.224756
4,Bank of America,287.339,111.904,28.540,2377.164,5,Financials,Major Banks,North America,United States,North Carolina,North Carolina,Brian Moynihan,http://www.forbes.com/companies/bank-of-america/,0.012006,0.255040

# Extract: Inc 5000

In [23]:
# The path to our CSV file to extract 2017 Inc 5000 company list
Inc_2017_csv = "Resources/inc5000-2017.csv"
Inc_2017_df = pd.read_csv(Inc_2017_csv)
Inc_2017_df.head()

,year,rank,name,url,founded,street1,city,state,zip,revenue,% growth,Headcount,Industry,Revenue Raw
0,2017,1350,Criterion Systems,criterion-sys.com,1/1/05,8330 Boone Blvd. Suite 400,Vienna,VA,22182,48.6 million,302,233,Government Services,48584456
1,2017,1819,ITA INternational,ita-intl.com,1/1/05,112 Cybernetics Way Suite 112,Yorktown,VA,23693,33.9 million,212,291,Government Services,33925808
2,2017,3712,ReSource Pro,resourcepro.com,1/1/03,1180 AVENUE OF THE AMERICAS FL 16,New York City,NY,10036,63.6 million,81,2908,Insurance,63569542
3,2017,4182,Lifematters,lifemattersusa.com,1/1/04,8757 Georgia Ave #600,Silver Spring,MD,20910,25.4 million,64,763,Health,25373970
4,2017,4700,Celergo,celergo.com,1/1/04,750 Estate Drive Suite 110,Deerfield,IL,60015,29 million,49,131,Business Products & Services,29048900

In [24]:
# The path to our CSV file to extract 2018 Inc 5000 company list
Inc_2018_csv = "Resources/inc5000-2018.csv"
Inc_2018_df = pd.read_csv(Inc_2018_csv)
Inc_2018_df.head()

,_ - id,_ - url,_ - rank,_ - city,_ - ifmid,_ - ifiid,_ - growth,_ - workers,_ - company,_ - website,...,_ - zipcode,_ - founded,_ - industry,_ - latitude,_ - metrocode,_ - longitude,_ - yrs_on_list,_ - previous_workers,_ - metro,_ - partner_lists - partner_lists
0,71021.0,swanleap,1.0,Madison,78.0,6.0,75660.8425,49.0,SwanLeap,http://swanleap.com,...,53719.0,2013.0,Logistics & Transportation,43.04531,"Madison, WI",-89.51538,2.0,4.0,"Madison, WI",NaN
1,87397.0,popsockets,2.0,Boulder,31.0,4.0,71423.7620,118.0,PopSockets,http://popsockets.com,...,80301.0,2010.0,Consumer Products & Services,40.04947,"Boulder, CO",-105.20142,1.0,2.0,"Boulder, CO",NaN
2,87398.0,home-chef,3.0,Chicago,17.0,11.0,60165.5058,865.0,Home Chef,homechef.com,...,60611.0,2013.0,Food & Beverage,41.89570,"Chicago-Naperville-Elgin, IL-IN-WI",-87.61378,1.0,35.0,Chicago,NaN
3,81957.0,velocity-global,4.0,Denver,30.0,17.0,39816.5093,55.0,Velocity Global,http://velocityglobal.com,...,80205.0,2013.0,Business Products & Services,39.75886,"Denver-Aurora-Lakewood, CO",-104.96283,1.0,1.0,Denver,NaN
4,87399.0,depcom-power,5.0,Scottsdale,46.0,16.0,38962.9022,104.0,DEPCOM Power,depcompower.com,...,85258.0,2013.0,Energy,33.56430,"Phoenix-Mesa-Scottsdale, AZ",-111.89588,1.0,27.0,Phoenix,NaN

In [26]:
# The path to our CSV file to extract 2019 Inc 5000 company list
Inc_2019_csv = "Resources/inc5000-2019.csv"
Inc_2019_df = pd.read_csv(Inc_2019_csv)
Inc_2019_df.head()

,_ - rank,Profile,name,url,state,_ - revenue,_ - growth,_ - industry,_ - workers,_ - founded,_ - yrs_on_list,_ - previous_workers,_ - metro,city
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,2015,1,5,Phoenix,Phoenix
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,2015,1,8,Nashville,Brentwood
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,2015,1,10,Austin,Austin
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,2014,1,2,NaN,Albuquerque
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,2014,1,6,Philadelphia,Philadelphia